
if SHIELD_DYA_DASH_RIGHT

config ZMK_KEYBOARD_NAME
    default "zonkey"

config ZMK_SPLIT_ROLE_CENTRAL
    default y
endif

if SHIELD_ZONKEY_LEFT || SHIELD_ZONKEY_RIGHT
config ZMK_SPLIT
    default y
endif
