#include <dt-bindings/zmk/input_transform.h>
#include <dt-bindings/input/input-event-codes.h>
#include <input/processors.dtsi>
#include "zonkey.dtsi"

/* ============================================================
 * RIGHT SIDE  (peripheral / central based on Kconfig.defconfig)
 *   - Charlieplex: 6 GPIO + interrupt on P1.11
 *   - SPI0: PMW3610 trackball
 *       SCK=P1.13(D8)  MOSI=P1.14(D9)  MISO=P1.15(D10)
 *       CS=P0.29(D3)   IRQ=P1.12(D7)
 *   - EC11 encoder: A=P1.07  B=P1.05
 *   - SPI1: WS2812 LED  SCK=P0.20  MOSI=P0.19
 * ============================================================ */

&default_transform {
    col-offset = <6>;
};

/ {
    /* Charlieplex - right side (6 gpios, comma-separated phandle-array) */
    kscan0: kscan0 {
        compatible = "zmk,kscan-gpio-charlieplex";
        wakeup-source;
        interrupt-gpios = <&gpio1 11 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
        gpios
            = <&gpio0 15 GPIO_ACTIVE_LOW>
            , <&gpio0 19 GPIO_ACTIVE_LOW>
            , <&gpio1  1 GPIO_ACTIVE_LOW>
            , <&gpio0  9 GPIO_ACTIVE_LOW>
            , <&gpio0 10 GPIO_ACTIVE_LOW>
            , <&gpio0 31 GPIO_ACTIVE_LOW>
            ;
    };

    /* EC11 encoder */
    encoder_r: encoder_r {
        compatible = "alps,ec11";
        a-gpios = <&gpio1 7 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        b-gpios = <&gpio1 5 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        steps = <80>;
        status = "okay";
    };

    sensors: sensors {
        compatible = "zmk,keymap-sensors";
        sensors = <&encoder_r>;
        triggers-per-rotation = <20>;
    };

    /* Trackball input listener */
    trackball_listener: trackball_listener {
        compatible = "zmk,input-listener";
        status = "okay";
        device = <&trackball>;
        input-processors = <&zip_temp_layer 1 700>;

        scroller {
            layers = <5>;
            input-processors =
                <&zip_xy_to_scroll_mapper>,
                <&zip_scroll_scaler 2 5>;
        };
    };
};

&pinctrl {
    /* SPI0: PMW3610 trackball */
    spi0_default: spi0_default {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK,  1, 13)>,
                    <NRF_PSEL(SPIM_MOSI, 1, 14)>,
                    <NRF_PSEL(SPIM_MISO, 1, 15)>;
        };
    };
    spi0_sleep: spi0_sleep {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK,  1, 13)>,
                    <NRF_PSEL(SPIM_MOSI, 1, 14)>,
                    <NRF_PSEL(SPIM_MISO, 1, 15)>;
            low-power-enable;
        };
    };

    /* SPI1: WS2812 LED (custom PCB traces P0.20/P0.19) */
    spi1_default: spi1_default {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK,  0, 20)>,
                    <NRF_PSEL(SPIM_MOSI, 0, 19)>;
        };
    };
    spi1_sleep: spi1_sleep {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK,  0, 20)>,
                    <NRF_PSEL(SPIM_MOSI, 0, 19)>;
            low-power-enable;
        };
    };
};

&xiao_serial { status = "disabled"; };

/* SPI0: PMW3610 trackball */
&spi0 {
    status = "okay";
    compatible = "nordic,nrf-spim";
    pinctrl-0 = <&spi0_default>;
    pinctrl-1 = <&spi0_sleep>;
    pinctrl-names = "default", "sleep";
    cs-gpios = <&gpio0 29 GPIO_ACTIVE_LOW>;

    trackball: trackball@0 {
        status = "okay";
        compatible = "pixart,pmw3610";
        reg = <0>;
        spi-max-frequency = <2000000>;
        motion-gpios = <&gpio1 12 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
        zephyr,axis-x = <INPUT_REL_X>;
        zephyr,axis-y = <INPUT_REL_Y>;
    };
};
&spi1 {
    status = "okay";
    compatible = "nordic,nrf-spim";
    pinctrl-0 = <&spi1_default>;
    pinctrl-1 = <&spi1_sleep>;
    pinctrl-names = "default", "sleep";

    led_strip: ws2812@0 {
        compatible = "worldsemi,ws2812-spi";
        reg = <0>;
        spi-max-frequency = <4000000>;
        chain-length = <1>; 
        color-mapping = <LED_COLOR_ID_GRB>;
    };
};

/ {
    chosen {
        zmk,underglow = &led_strip;
    };
};
